$selection-color: #f8ca29;

body, html {
  border: 0;
  margin: 0;
  height: 100%;
  background-color: #999999;
}

.spacer20 {
  width: 100%;
  height: 20px;
}

#configurator {
  width: 100%;
  max-width: 750px;
  height: 100%;
  background-color: #e2e2e2;
  position: relative;

  content: "";
  clear: both;
  display: table;

  #header {
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
    color: #fff;

    width: 100%;
    height: 30px;
    background-color: black;

    p {
      margin: 0;

      &.left {
        float: left;
        padding: 5px 0px 0px 8px;
      }

      &.right {
        float: right;
        padding: 5px 8px 0px 0px;
      }
    }
  }

  #info {
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
    color: #515151;
    background-color: #fff;

    padding: 5px 5px 5px 8px;
  }

  #end {
    width: 100%;
    height: 40px;
  }

  #footer {
    position: fixed;
    width: 100%;
    max-width: 750px;
    bottom: 0px;
    height: 30px;
    background-color: rgba(255, 255, 255, .9);

    .left {
      cursor: pointer;
      float: left;
      background-color: #898989;
      width: 30px;
      height: 30px;

      background-image: url('../images/arrowLeft.svg');
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center;
    }

    .center {
      font-family: 'Russo One', sans-serif;
      font-size: 20px;
      color: #515151;

      position: absolute;
      text-align: center;
      width: calc(100% - 60px);
      margin: 2px 0px 0 30px;
    }

    .right {
      cursor: pointer;
      float: right;
      background-color: #ed0f0f;
      width: 30px;
      height: 30px;

      background-image: url('../images/arrowRight.svg');
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center;
    }
  }

  .block {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 15px;
    color: #000;

    margin: 11px;
    padding: 12px;
    border: 6px solid #aaaaaa;
    background-color: white;
    width: calc(100% - 58px);

    content: "";
    clear: both;
    display: table;

    hr {
      border: 1px solid #898989;
      margin: 12px 0 12px 0;
      clear: both;
    }

    .bigButton {
      font-family: 'Russo One', sans-serif;
      font-size: 20px;
      color: #fff;
      text-align: center;
      position: relative;
      clear: both;

      cursor: pointer;
      background-color: #898989;
      width: 100%;
      margin-top: 30px;
      padding-top: 4px;
      height: calc(32px - 4px);
    }

    &.selected {
      border-color: #ed0f0f;

      .bigButton {
        color: #333;
        background-color: $selection-color;
      }
    }

    h1 {
      font-family: 'Russo One', sans-serif;
      font-size: 23px;

      margin: 0 0 20px 0;
      padding: 0px;
    }

    h3 {
      font-size: 20px;

      margin: 0 0 10px 0;
      padding: 0px;
    }

    h4 {
      font-size: 9px;

      margin: 0 0 2px 0;
      padding: 0px;
    }

    p {
      margin: 0 0 2px 0;
      padding: 0px;

      &.left {
        float: left;
        font-size: 12px;
        line-height: 20px;
        padding-bottom: 20px;
      }

      &.right {
        font-weight: bold;

        float: right;
        font-size: 12px;
        line-height: 20px;
        padding-bottom: 20px;
      }

      &.price {
        font-weight: bold;
        margin: 0 0 20px 0;
      }

      &.title {
        font-weight: bold;
      }
    }

    ul {
      margin: 0 0 10px 0;
      padding-left: 22px;
    }
  }


}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, minmax(10px, 60px));
  grid-gap: 10px;

  div {
    height: 60px;
    border-bottom: 10px solid #fff;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &.selected {
      border-color: $selection-color;
    }

    &.wheel1 {
      background-image: url("../images/wheel1.png");
    }

    &.wheel2 {
      background-image: url("../images/wheel2.png");
    }

    &.wheel3 {
      background-image: url("../images/wheel3.png");
    }

    &.wheel4 {
      background-image: url("../images/wheel4.png");
    }

    &.wheel5 {
      background-image: url("../images/wheel5.png");
    }
  }
}
